* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  
}
body{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}

h1{
  color:#fff;
  margin-block-start: auto;
  padding: .25em 0em;
  font-family: 'Happy Monkey', cursive;
  font-size:2.25em;
  margin:0
}

h2{
  font-size:1.5em;
}

h3{
  font-size:1.25em;
}

p{
  color:#fff;
}

a{
  text-decoration: none;
}

h1 a{
  color:#fff;
}

nav{
  background-color:#f28705;
  color:#391832;   
  display: flex;
  justify-content: space-between;
}

footer{
  background-color:#480000;
  color:#391832; 
  position: fixed;
  bottom: 0;
  width: 100%;  
}

.nav-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-block-end: 0;
}

.nav-list li{
  padding:10px;
  width: 115px;
}

.nav-list a{
  color:#fff;
  text-decoration: none;
}

.nav-list a:hover{
  color:#480000;
  border-bottom:1px solid #480000;
}

.home-nav-links{
  display:flex;
  justify-content: flex-end;
  padding-top:10px;
}

.home-nav-links button{
  margin: 0px 10px;

}

.filter-form{
  display: flex;
  justify-content: space-around;
}

main{
  padding:0px;
  background-color: #480000;
  margin-top:110px;
  margin-bottom:135px;
}

header{
  position:fixed;
  width:100%;
  top:0;
  height:165px;
}

section{
  padding:10px;
}

.individual-post-container{
  padding:10px;
  text-align: left;
}

.individual-post-container:nth-child(even){
  background-color:#fff;
  color:#000;
}

.individual-post-container:nth-child(odd){
  background-color:#5B8C11;
  color:#fff;
}

form {
  text-align: left;
  width: 95%;
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
}

form.signup-form {
  display: flex;
  flex-direction: column;
}

.type-selection{
  display:flex;
  justify-content: space-around;
}

input {
  border: 1px rgba(0,0,0,.5)solid;
  margin-bottom: 10px;
}

input[type=radio]{
  width:15px;
  display:inline-block;
}

.button-row{
  width:100%;
}

button{
  margin: 10px auto;
  background-color: #391832;
  color:#fff;
  padding:10px 20px;;
  font-size:1em;
  display: block;
  border:0px solid #391832;
  border-radius:5px;
}

.button-icon-link{
  margin: 5px auto;
  background-color: #e6ca7c;
  display: block;
  padding: 1px 6px;
  width: 50px;
  height:35px;
}

.orange-background{
  background-color: #f28705;
}

.button-w-text {
  line-height: 35px;
  font-size: 24px;
  color: #480000;
}

button[type="submit"]{
  margin: 10px auto;
  background-color: #480000;
  display: block;
}

.icon-button{
  margin:0;
  border-width: 0px;
  
}

ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

.form-disclaimer{
  font-size:.75em;
  text-align: center;
  font-style: italic;
}

.button-link {
  color:#fff;
  width: 120px;
  display: inline-block;
  padding:10px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

svg.filter-icon path {
  fill:#152604;
  fill:#480000;
}

.icon-button-container {
  display: inline-block;
}

.icon-button-container svg {
  font-size: 21px;
}

svg.inline-block-icon {
  display: inline;
  font-size: inherit;
  margin: auto;
}

.form-disclaimer{
  font-size:.75em;
  text-align: center;
  font-style: italic;
}

/****start page****/
.start-page h1{
  color:#000;
  font-size:26px;
}

.start-page a{
  color:#000;
  font-size:20px;
  text-decoration:underline;
}

.hidden{
  display: none;
}
