* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  
}
body{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  background-color:#f28705;
  
}

body::after {
  content: "";
  background-image: url(../images/balloons-1-adjusted-bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position-x:20%;
  background-attachment:fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

h1{
  color:#fff;
  margin-block-start: auto;
  padding: .25em 0em;
  font-family: 'Happy Monkey', cursive;
  font-size:2.25em;
  margin:0
}

h2{
  font-size:1.5em;
}

h3{
  font-size:1.25em;
}

p{
  color:#fff;
}

a{
  text-decoration: none;
}

h1 a{
  color:#fff;
}

h1 a:hover{
   color:#480000;
}

nav{
  background-color:#f28705;
  color:#391832;   
  display: flex;
  justify-content: space-between;
}

footer{
  background-color:#480000;
  color:#391832; 
  position: fixed;
  bottom: 0;
  width: 100%;  
}

.nav-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-block-end: 0;
}

.nav-list li{
  padding:10px;
  width: 115px;
}

.nav-list a{
  color:#fff;
  text-decoration: none;
}

.nav-list a:hover{
  color:#480000;
  border-bottom:1px solid #480000;
}

.filter-form{
  display: flex;
  justify-content: space-around;
}

main{
  padding:0px;
  background-color: #480000;
  margin-top:110px;
  margin-bottom:135px;
}

.bookmark-results main{
  margin-bottom:58px;
  margin-top:60px;
}

.bookmark-results header{
  height:60px;
}

.learn-more-page main{
  margin-top:0;
  padding:20px;
  margin-bottom:0;
}

.learnmore h2{
  margin-block-start: 0em;
  color:#fff;
}

.learnmore p, .about p {
  text-align: left;
  max-width: 300px;
  margin: 35px auto 10px;
}

.learnmore img{
  max-width:260px;
  border:1px solid #fff;
  border-radius:3px;
}

.learn-more-page .filter-button-row {
  margin-top: 20px;
}

header{
  position:fixed;
  width:100%;
  top:0;
  height:118px;
  z-index:10;
}

section{
  padding:10px;
}

.individual-post-container{
  padding:10px;
  text-align: left;
}

.individual-post-container:nth-child(even){
  background-color:#fff;
  color:#000;
}

.individual-post-container:nth-child(odd){
  background-color:#5B8C11;
  color:#fff;
}

form {
  text-align: left;
  width: 95%;
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
}

form.signup-form {
  display: flex;
  flex-direction: column;
}

.type-selection{
  display:flex;
  justify-content: space-around;
}

input {
  border: 1px rgba(0,0,0,.5)solid;
  margin-bottom: 10px;
}

input[type=radio]{
  width:15px;
  display:inline-block;
}

.button-row{
  width:100%;
}

button{
  margin: 10px auto;
  background-color: #391832;
  color:#fff;
  padding:10px 20px;;
  font-size:1em;
  display: block;
  border:0px solid #391832;
  border-radius:5px;
}

button:hover{
  background-color:#038990;
}

button:focus{
  outline: 0px solid red ;
}

button:focus svg{
  outline: solid 2px #f28705;
}

:focus .tooltip-message{
  outline-style: dashed !important;
}

button.delete-button:hover,.new-post button:hover {
  background-color:#f28705;
}

.button-icon-link{
  margin: 5px auto;
  background-color: #e6ca7c;
  display: block;
  padding: 1px 6px;
  width: 45px;
  height:35px;
  position: relative;
}

.orange-background{
  background-color: #f28705;
}

.button-w-text {
  line-height: 35px;
  font-size: 24px;
  color: #480000;
}

button[type="submit"]{
  margin: 10px auto;
  background-color: #480000;
  display: block;
}

.icon-button{
  margin:0;
  border-width: 0px;
  
}

ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

.form-disclaimer{
  font-size:.75em;
  text-align: center;
  font-style: italic;
}

.button-link {
  color:#fff;
  width: 120px;
  display: inline-block;
  padding:10px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

svg.filter-icon path {
  fill:#152604;
  fill:#480000;
}

.icon-button-container {
  display: inline-block;
}

.icon-button-container svg {
  font-size: 21px;
}

svg.inline-block-icon {
  display: inline;
  font-size: inherit;
  margin: auto;
}

.form-disclaimer{
  font-size:.75em;
  text-align: center;
  font-style: italic;
}

/****start page****/
.start-page h1{
  color:#000;
  font-size:26px;
}

.start-page a{
  color:#000;
  font-size:20px;
  text-decoration:underline;
}

.hidden{
  display: none;
}

:focus {
  outline: #f28705 auto 1px;
}

.bookmark-results p{
  color:#000;
}

.fine-print{
  font-style:italic;
  font-size:14px;
}

.tooltip {
  position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
}

.tooltip-content {
  color: #01A800;
}

.tooltip-message {
  background-color: hsla(0, 0%, 10%, 0.9);
  background-color:#fff;
  border:1px solid #391832;
  border-radius: 3px;
  color: #fff;
  color:#391832;
  margin-bottom: 5px;
  margin-left: -8vw;
  min-width: 160px;
  padding: 7px 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  font-size:14px;
  line-height:14px;
  z-index:2
}

.tooltip-message.top-right{
  top: calc(-1.2em - 14px);
  left: -2vw;
}

.tooltip-message.top-farright{
  top: calc(-1.2em - 14px);
  left: 2vw;
}

.tooltip-message.top-center{
  top: calc(-1.2em - 14px);
  left: -12vw;
}

.tooltip-message.top-left{
  top: calc(-1.2em - 14px);
  right: -18vw;
}

.tooltip-message.top-farleft{
  top: calc(-1.2em - 14px);
  right: -1vw;
}

.tooltip-message.bottom-center{
  bottom: calc(-1.2em - 14px);
  left: -12vw;
}

.tooltip-message.bottom-right{
  bottom: calc(-1.2em - 14px);
  left: 4vw;
}

.tooltip-message.bottom-farright{
  bottom: calc(-1.2em - 14px);
  left: 4vw;
}

.tooltip-message.bottom-left{
  bottom: calc(-1.2em - 14px);
  right: 4vw;
}

.tooltip-message.bottom-farleft{
  bottom: calc(-1.2em - 14px);
  right: 4vw;
}

/* start hidden */
.tooltip-message {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* show on hover */
.tooltip:hover > .tooltip-message {
  opacity:1;
  animation-name:tooltipAnimate;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  visibility: visible;
}

@keyframes tooltipAnimate {
  0% {
    visibility: hidden;
  }
  
  100% {
    opacity: visible;
  }
}

@media only screen and (min-width:400px){
.learnmore p, .about p, .learnmore img{
  max-width:350px
}
.tooltip-message.top-left{
  right: 4vw;
}
.tooltip-message.top-right{
  left: 8vw;
}

.tooltip-message.bottom-farright{
  left: 7vw;
}
}/*end of MQmin400*/

@media only screen and (min-width:440px){
  .learnmore p, .about p, .learnmore img{
    max-width:400px
  }
  }/*end of MQmin4540*/

@media only screen and (min-width:760px){
  body {
    font-size: 20px;
  }

header{
  height:135px;
}

main{
  margin-top:135px;
}

.icon-button-container svg {
    font-size: 30px;
}

.button-icon-link {
   height: 40px;
}

}/* end MQ min760*/