.filter-button-row {
    display: flex;
    justify-content: space-around;
    background-color:#480000;
}

.filter-button-row svg{
    font-size:28px;
}

svg.filter-icon {
    margin: 15px auto;
    display: block;
}

section.search-row{
    background-color:#391832!important;
    color:#fff;
}

.search-row button, .search-row button[type="submit"]{
    background-color:#e6ca7c;
    color:#391832;
}
