.filter-button-row{
    background-color:#f2b705;
}

.filter-button-row h2{
    color:#000;
    font-size:16px;
    margin-block-start: 0.2em;
    margin-block-end: 0em;
}

.filter-button-row div{
    display: flex;
    justify-content: space-around;
}

svg.filter-icon {
    margin: 5px auto;
    display: block;
}


section.search-row{
    background-color:#391832!important;
    color:#fff;
}

/*have the same height so will align vertically*/
.search-form .button-row, .search-input{
    height:55px;
}

.search-row button, .search-row button[type="submit"]{
    background-color:#f2b705;
    color:#391832;
    padding: 5px 8px;
    height: 28px;
    margin:0;
}

.filter-button-row .button-icon-link {
    background-color:transparent;
    border:1px solid #000;
}

.filter-button-row svg.filter-icon path {
    fill: #000;
}

.filter-button-row .button-w-text{
    color:#000;
}

.orange-background{
    background-color: #f28705;
}
