.filter-button-row{
    background-color:#f2b705;
    padding:5px 10px;
    border-top:2px solid #391832;
    border-bottom:2px solid #391832;
}

.filter-button-row h2{
    color:#000;
    font-size:16px;
    margin-block-start: 0.2em;
    margin-block-end: 0em;
}

.filter-button-row div{
    display: flex;
    justify-content: space-around;
}

svg.filter-icon {
    margin: 5px auto;
    display: block;
}

section.search-row{
    background-color:#391832!important;
    color:#fff;
}

/*have the same height so will align vertically*/
.search-form .button-row, .search-input{
    height:55px;
}

.search-row button, .search-row button[type="submit"]{
    background-color:#f2b705;
    color:#391832;
    padding: 5px 8px;
    height: 28px;
    margin:0;
}

.search-row .button-reset{
    height:22px;
    padding:2px 6px;
    margin-top: 5px;
}

.search-row button:hover, .search-row button[type="submit"]:hover {
    background-color:#fff;
}

.filter-button-row .button-icon-link{
    background-color:transparent;
   /* border:1px solid #000;*/
}

.nav .button-icon-link{
    margin:10px 5px;
}

.filter-button-row svg.filter-icon path {
    fill: #000;
}

.filter-button-row .button-w-text{
    color:#000;
}

.filter-button-row .button-w-text:hover{
    color:#480000;
}

.orange-background{
    background-color: #f28705;
}

.row-bottom, .search-row-section{
    position:fixed;
    width:100%;
    bottom:0;
    padding:0px;
  }
  
  .row-bottom{
    bottom:75px;
  }
  
  .row-bottom.filter-button-row{
  border:0px solid #fff;
  }
  
  .bookmark-results .row-bottom{
    bottom:0;
    padding:0;
    border:0px solid #fff;
  }


.learn-more-page .filter-button-row {
    margin-top: 20px;
  }

/**icon colors when active**/
.allUsers-activeUsers svg.fa-users path, .followees-activeUsers svg.fa-user-friends path, .user-activeUsers svg.fa-user path, .reflection-activeType svg.fa-lightbulb path, .book-activeType svg.fa-book-open path, .podcast-activeType svg.fa-podcast path, .music-activeType svg.fa-music path, .event-activeType svg.fa-calendar-alt path {
  fill:#fff;
}

.all-activeType.button-w-text{
  color:#fff;
}

@media only screen and (min-width:520px){
.search-row button, .search-row button[type="submit"]{
    height: 32px;
}

.search-row .button-reset{
    height:26px;
}
}

@media only screen and (min-width:760px){
/****screen width when button rows go to sides****/
.row-bottom, .search-row-section{
    z-index:10;
    width:100%;
    padding:0;
  }
  
  .search-row-section{
    border-top:2px #f2b705 solid;
  }
  
  .row-bottom{
    width:80px;
    top: 79px;
    position:fixed;
    right:0;
    height:100%;
    z-index:10;
    padding:5px 10px;
    background-color: #f2b705;
  
  }
  
  .row-bottom.filter-button-row{
    padding:0;
    border-top: 0px solid #391832;
    border-bottom: 0px solid #391832;
  }
  
  .dashboard header .filter-button-row, .bookmark-results header .filter-button-row {
    position: fixed;
    width: 80px;
    height: 100%;
    left: 0;
    border-top: 0px solid #391832;
    border-bottom: 0px solid #391832;
  }
  
  .search-form .button-row, .search-input{
    max-width: 300px;
  }
  
  .search-input {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .search-form .button-row, .search-input {
    height: 32px;
  }

}/*end MQ min760*/

@media only screen and (min-width:960px){
.filter-button-row .button-icon-link:hover svg.filter-icon path, .nav .button-icon-link.orange-background:hover svg.filter-icon path {
  fill:#480000;
}
}
