.header-home{
    height:100vh;
}

.header-home h1{
    color:#480000;
    font-size:2.25em;
    padding-top:2.25em;
    font-family: 'Happy Monkey', cursive;
}

.tagline{
  color:#480000;
  font-size:1.5em;
}

.box{
    border:1px solid #000;
    width:260px;
    border-radius:5px;
    position:absolute;
    top:20vh;
    left:50%;
    transform: translateX(-50%);
    background-color:#fff;
    background-color: #fff;
    padding: 30px 15px;
}

.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    position:absolute;
    top:2px;
    right:6px;
    width:15px;
}

.box button:hover{
    background-color:#40004b;
    color:#fff;
}

.home .nav-link{
    margin: 10px auto;
    background-color:transparent;
    color:#391832;
    border:0px solid #391832;
    border-radius:0px;
    margin:0;
}

.home .nav-link:hover{
    color:#48000;
    text-decoration:underline;

}