.single-post {
    margin-bottom: 10px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding:10px;
    border-bottom: 1px solid #1F4008;
}

.post-span {
    padding-bottom: 10px;
    font-size:22px;
}

.post-title {
    font-size: 25px;
}

.post-info{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-content{
    text-align:center;
}

.music-post{
    background-color:#738c11;
}
.reflection-post{
    background-color:#324211;
}

.event-post{
    background-color:#c4bd82;
}
.podcast-post{
    background-color:#292e10;
}
.music-post{
    background-color:#738c11;
}

.post-info a{
    color:#000;
    text-decoration: underline;
}

.reflection-post a, .reflection-post, .podcast-post, .podcast-post a{
    color:#fff;
}

.post-icons-buttons {
    display: flex;
    justify-content: space-around;
}

.post-span{
    width:100%;
}

.post-icon, .post-username {
    width: 50%;
    padding-bottom:20px;
}

.post-username, .connect-icon {
   width:100px;
   text-align:right;
   padding:0px 10px;
}

.post-icon{
    display: inline-block;
    background-color: transparent;
    border-width:0;
}

.post-icon svg{
    font-size:28px;
}

.post-icons-buttons svg{
    margin: 15px auto;
    display: block;
}

.post-icon svg path{
    fill:#152604;
}

.reflection-post svg path, .podcast-post svg path{
    fill:#fff;
}

.post-image img {
    max-width: 300px;
    margin: auto;
    display: block;
}

.user-info {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 35px;
}

.bookmarked .bookmark-button svg path{
    fill:#d2d91a;
}